---
import { Icon } from 'astro-icon/components';
import { getCollection } from "astro:content";
import Layout from '../layouts/index.astro';

export async function getStaticPaths() {
  const cvs = await getCollection('curriculum'); 
  return cvs.map((cv) => ({
    params: { curriculum: cv.data.id },
    props: {
      ...cv
    }
  }));
}

const cv = Astro.props;
---

<Layout title="Joao" header={false}>
  <div class='layout'>
    <nav>
      <div class='icon'>
        <a href='/' title='Go back'>
          <Icon name='mdi:arrow-left' />
        </a>
      </div>

      <div class='langs'>
        larbac
      </div>

      <div class='icon'>
        <a href={`https://larbac.me/${cv.data.id}.pdf`} title='Download PDF'>
          <Icon name='mdi:file-download' color='green' />
        </a>
      </div>
    </nav>

    <header>
        <h1>
          <br />
          {cv.data.name}
        </h1>

      <div class='contact'>
        <div>Tel: {cv.data.phone} | {cv.data.email}</div>
        <a href='https://larbac.me' target='_blank'>Portfolio: larbac.me</a>
        <br />
        <a href='https://www.linkedin.com/in/jo%C3%A3o-cabral-6296a8174/' target='_blank'
          >Linkedin: linkedin.com/in/joaocabral</a
        >
        <br>
        <a href='https://github.com/joao-cabral' target='_blank'
          >Github: juao.cabral</a
        >
      </div>
      <hr />
    </header>

    <div class='about'>
      {cv.data.about.map((a) => <p set:html={a} />)}
    </div>

    <div class='experience'>
      <div class='layout-title'>
        {cv.data.experienceName}
      </div>

      <ul>
        {
          cv.data.experiences.map((experience) => (
            <li>
              <div class='experience__title'>
                <div>{experience.start}</div>
                <div>{experience.end}</div>
              </div>

              <div class='experience__about'>
                <div>{experience.title}</div>

                {experience.about.map((c) => (
                  <p set:html={c} />
                ))}
              </div>
            </li>
          ))
        }
      </ul>
    </div>

    <div class='about'>
      <h4 class='layout-title'>
        {cv.data.ossTitle}
      </h4>

      {cv.data.oss.map((c) => <p set:html={c} />)}
    </div>

    <div class='education'>
      <h4 class='layout-title'>
        {cv.data.educationName}
      </h4>

      <ul>
        {
          cv.data.education.map((education) => (
            <li>
              <div> {education.title} - {education.date}</div>
              <div>{education.institution}</div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>

<style lang='scss' is:global>
  body {
    background-image: none !important;
    background-color: #f5f5f5 !important;
    color: black !important;
    margin: 0;
    padding: 0;

    @media print {
      background-color: white !important;
      
      a {
        text-decoration: underline !important;
      }
    }
  }

  :root {
    --color-primary: black !important;
    --color-secondary: black !important;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  header {
    text-align: left;

    h1 {
      font-size: 1.5rem;
      font-weight: bold;
    text-align: left;


      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .contact {
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }

    hr {
      max-width: 100%;
    }
  }

  nav {
    margin-bottom: 2rem !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;

    @media print {
      margin-bottom: -2rem !important;
    }

    @media print {
      .langs { 
        display: none !important;
      };
    }

    .icon {
      @media print {
        display: none !important;
      }

      svg {
        width: 2rem;
        height: 2rem;

        &:hover {
          color: var(--color-500);
        }
      }
    }

    .langs {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }

    a {
      font-weight: bold;
    }
  }

  .layout-title {
    font-size: 1.2rem;
    text-align: left;
    font-weight: 500;
    color: grey
  }

  .layout {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    background-color: white;
    min-height: 100vh;
    
    @media print {
      margin: 0;
      padding: 0;
      max-width: none;
    }
    
    @media (max-width: 768px) {
      padding: 1.5rem 1rem;
    }
    
    @media (max-width: 480px) {
      padding: 1rem 0.75rem;
    }
  }

  .about {
    p:not(:first-child) {
      margin-top: 1rem;
    }
  }

  .education {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: left;

      @media (max-width: 768px) {
        flex-direction: column;

        li:not(:first-child) {
          margin-top: 2rem;
        }
      }

      li {
        text-align: left;
        max-width: 24rem;

        .title{
          font-weight: bold;
        }
      }
    }
  }

  .experience {
    ul {
      li {
        display: flex;
        flex-direction: row;
        break-inside: avoid;

        .experience__title {
          width: 10%;
          font-weight: normal;
          text-align: left;
          font-size: 0.8rem;
        }

        @media (max-width: 768px) {
          .experience__title {
          display: none;
        }
      }

        .experience__about {
          width: 90%;
          text-align: left;
        }
      }
    }
  }
</style>